

@import url("https://cdn.syncfusion.com/ej2/bootstrap5.css");

.App{
  margin: 2%;
}

/* .App {
  background-color: #000000;
  color: #ffffff;
}
 */

/* .e-spreadsheet .e-cell, .e-spreadsheet .e-headercell {
  background-color: black;
  color: white;
} */
body {
  margin: 0;
  font-family: sans-serif;
}

.btn {
  margin-top: 30px;
  margin-left: 1300px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #a06868;
}

.spreadsheet-container {
  
  border-radius: 8px;
  
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  /* overflow: hidden; */
   margin-top: -30px; 
  margin-left: -30px;
  margin-right: -10px;
  margin-bottom: -10px;

}

 .spreadsheet-light {
  background-color: #fff;
  color: #333;
}

.spreadsheet-dark {
  background-color: #333;
  color: #fff;
} 

.theme-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
/* .e-btn{
  margin-bottom: 40px; 
  height: 25px;
  background-color: #c30808;
} */

.theme-button:focus {
  outline: none;
}

.theme-button:hover {
  background-color: #f0f0f0;
}


.e-spreadsheet .e-formula-bar-panel .e-formula-bar {
  /* background-color: rgb(126, 154, 113); */
  font-weight: bold;
}


.e-spreadsheet .e-sheet-panel .e-sheet {
  border-color: #c30808;
}
/* .e-spreadsheet .e-row-header .e-header-cell {
  color: #0000FF !important;
} */


.e-icons .e-font-color-icon 
{
  color:red
}
